<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css">
<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employee)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>

        <div class="panel-body">
            <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
                <label for="name" class="control-label">Name</label>
                <input id="name" required [(ngModel)]="employee.name" name="name" type="text" class="form-control" placeholder="Enter your Name"
                    #name="ngModel" />
                <span class="help-block" *ngIf="name.invalid && name.touched">Name Required</span>
            </div>


            <div class="form-group" [class.has-error]="email.invalid && email.touched">
                <label for="email" class="control-lable">Email</label>
                <input id="email" required [email]="employee.email!==''" [(ngModel)]="employee.email" name="Email" type="text" class="form-control"
                    required placeholder="Enter your Email-Id" #email="ngModel" />
                <span class="help-block" *ngIf="email.errors?.required && email.touched">
                    Email is required
                </span>
                <span class="help-block" *ngIf="email.errors?.email && email.touched">
                    Email is Invalid
                </span> </div>

            <div class="form-group">
                <label>Gender</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" [(ngModel)]="employee.gender" value="male" name="gender">Male
                    </label>

                    <label class="radio-inline">
                        <input type="radio" [(ngModel)]="gender" value="female" name="gender">Female
                    </label>

                </div>
            </div>


            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <div>
                    <input id="phoneNumber" [(ngModel)]="employee.phoneNumber" name="PhoneNumber" type="number" class="form-control" placeholder="Enter phoneNumber">
                </div>

            </div>

            <div class="form-group">
                <label>Contact Prefence</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" value="phoneNumber" [(ngModel)]="employee.contactPreference" name="contactPreference">                        PhoneNumber
                    </label>


                    <label class="radio-inline">
                        <input type="radio" value="email" [(ngModel)]="employee.contactPreference" name="contactPreference">                        Email
                    </label>

                </div>

            </div>

            <div class="form-group">
                <div class="form-control">
                    <label class="checkbox-inline">
                        <input type="checkbox" [(ngModel)]="employee.isActive" name="isActive"> IsActive
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="department">Department</label>
                <select id="department" name="department" class="form-control" [(ngModel)]="employee.department" name="department">
                    <option *ngFor="let dept of departments" [value]="dept.id">
                        {{dept.name}}
                    </option>

                </select>
            </div>


            <div class="row">
                <div class="form-group col-md-5">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="text" [(ngModel)]="employee.dateOfBirth" [bsConfig]="datePickerConfig" name="dateOfBirth" class="form-control"
                        bsDatepicker placement="right">


                </div>
            </div>

            <div class="form-group">
                <label for="photoPath">Photo Path</label>
                <input type="text" class="form-control" id="photoPath" [(ngModel)]="employee.photoPath" name="photoPath">

            </div>
            <div class="form-group">
                <button class="btn btm-primary" type="button" (click)="togglePhotoPreview()">
                    {{previewPhoto?"Hide":"Show"}} Preview</button>
            </div>

            <div class="form-group">
                <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto" />
            </div>


        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>
</form>

Angular Generated from Model: {{employeeForm.value |json}}
<br/>
<br/> Our Employee Model :{{employee | json}}