<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css">
<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input id="fullName" [(ngModel)]="fullName" name="Fullname" type="text" class="form-control" placeholder="Enter your Fullname"
                />
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" [(ngModel)]="email" name="Email" type="text" class="form-control" placeholder="Enter your Email-Id" />
            </div>

            <div class="form-group">
                <label>Gender</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" [(ngModel)]="gender" value="male" name="gender">Male
                    </label>

                    <label class="radio-inline">
                        <input type="radio" [(ngModel)]="gender" value="female" name="gender">Female
                    </label>

                </div>
            </div>


            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <div>
                    <input id="phoneNumber" [(ngModel)]="phoneNumber" name="PhoneNumber" type="number" class="form-control" placeholder="Enter phoneNumber">
                </div>

            </div>

            <div class="form-group">
                <label>Contact Prefence</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" value="phoneNumber" [(ngModel)]="contactPreference" name="contactPreference">                        PhoneNumber
                    </label>


                    <label class="radio-inline">
                        <input type="radio" value="email" [(ngModel)]="contactPreference" name="contactPreference"> Email
                    </label>

                </div>

            </div>

            <div class="form-group">
                <div class="form-control">
                    <label class="checkbox-inline">
                        <input type="checkbox" [(ngModel)]="isActive" name="isActive"> IsActive
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="department">Department</label>
                <select id="department" name="department" class="form-control" [(ngModel)]="department" name="department">
                    <option *ngFor="let dept of departments" [value]="dept.id">
                        {{dept.name}}
                    </option>

                </select>
            </div>

            <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input type="text" [(ngModel)]="dateOfBirth" name="dateOfBirth" class="form-control" bsDatepicker>


            </div>

        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

Angular Generated from Model: {{employeeForm.value |json}}