<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css">
<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employeeForm)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>

        <div class="panel-body">
            <div class="form-group" [class.has-error]="fullNameControl.invalid && fullNameControl.touched" [class.has-success]="fullNameControl.valid">
                <label for="fullName" class="control-label">Full Name</label>
                <input id="fullName" required [(ngModel)]="fullName" name="Fullname" type="text" class="form-control" placeholder="Enter your Fullname"
                    #fullNameControl="ngModel" />
                <span class="help-block" *ngIf="fullNameControl.invalid && fullNameControl.touched" >FullName Required</span>
            </div>


            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" [(ngModel)]="email" name="Email" type="text" class="form-control"  required placeholder="Enter your Email-Id" />
            </div>

            <div class="form-group">
                <label>Gender</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" [(ngModel)]="gender" value="male" name="gender">Male
                    </label>

                    <label class="radio-inline">
                        <input type="radio" [(ngModel)]="gender" value="female" name="gender">Female
                    </label>

                </div>
            </div>


            <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <div>
                    <input id="phoneNumber" [(ngModel)]="phoneNumber" name="PhoneNumber" type="number" class="form-control" placeholder="Enter phoneNumber">
                </div>

            </div>

            <div class="form-group">
                <label>Contact Prefence</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" value="phoneNumber" [(ngModel)]="contactPreference" name="contactPreference">                        PhoneNumber
                    </label>


                    <label class="radio-inline">
                        <input type="radio" value="email" [(ngModel)]="contactPreference" name="contactPreference"> Email
                    </label>

                </div>

            </div>

            <div class="form-group">
                <div class="form-control">
                    <label class="checkbox-inline">
                        <input type="checkbox" [(ngModel)]="isActive" name="isActive"> IsActive
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label for="department">Department</label>
                <select id="department" name="department" class="form-control" [(ngModel)]="department" name="department">
                    <option *ngFor="let dept of departments" [value]="dept.id">
                        {{dept.name}}
                    </option>

                </select>
            </div>


            <div class="row">
                <div class="form-group col-md-5">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="text" [(ngModel)]="dateOfBirth" [bsConfig]="datePickerConfig" name="dateOfBirth" class="form-control" bsDatepicker
                        placement="right">


                </div>
            </div>

            <div class="form-group">
                <label for="photoPath">Photo Path</label>
                <input type="text" class="form-control" id="photoPath" [(ngModel)]="photoPath" name="photoPath">

            </div>
            <div class="form-group">
                <button class="btn btm-primary" type="button" (click)="togglePhotoPreview()">
                    {{previewPhoto?"Hide":"Show"}} Preview</button>
            </div>

            <div class="form-group">
                <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto" />
            </div>


        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary" [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>
</form>

Angular Generated from Model: {{employeeForm.value |json}}